
body {
  text-align: center;
  }

h1,h3 {
  margin-top:135px;
  text-shadow: 2px 2px gray;
}

h3 {
  font-weight:200;
}

button {
  width:100px;
  height:40px;
  margin-top: 60px;
  border-radius: 9px;
  background:  #f7f7f7;
  font-weight: bold;
}

button:focus {
 background: #fff;
 border: 3px solid turquoise;
 outline: none;
}




